<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="\img\weather.png">
        <title>Help</title>
        <link rel="stylesheet" href="./css/style.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <h3>MSG: {{msg}}</h3>
        </div>
         {{>footer}}
    </body>
</html>